<div *ngIf="artist">
  <div class="wrapper">
    <div class="artist-grid">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>{{artist.name}}</h1>
          </mat-card-title>
          <mat-card-subtitle>ngSpot</mat-card-subtitle>
        </mat-card-header>
        <div class="main-image" *ngIf="artist.images.length > 0">
          <img [src]="artist.images[0].url" align="middle"/>
        </div>
        <p *ngIf="artist.genres.length > 0" class="mute">
          Genres: <span *ngFor="let art of artist.genres">{{art}}, </span>
        </p>
      </mat-card>
    </div>
    <div class="album-grid">
      <mat-card *ngFor="let album of albums" routerLink="/album/{{album.id}}">
        <mat-card-header>
          <mat-card-title>
            <h1>{{album.name}}</h1>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <div *ngIf="album.images.length > 0">
          <img class="albums-images" [src]="album.images[0].url" >
        </div>
      </mat-card>
    </div>

  </div>
</div>
