mat-card {
  /* padding-top: 0; */
  padding-bottom: 35px;
}

mat-card-header {
  justify-content: center;
}

mat-card-content {
  padding: 15px 0;
}

.album-grid .mat-card-header-text h1 {
  padding-bottom: 0 !important;
  margin-bottom: 0;
}

.main-image img {
  border-radius: 50%;
  width: auto;
  height: 374px;
  background-size: cover;
}

.albums-images {
  border-radius: 10%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.artist-grid {
  grid-column: 2/4;
  grid-row: 1;
  margin-bottom: 25%;
  margin-top: 20px;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-column: 4/9;
  margin-top: 20px;
}

.album-names {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mute {
  color: rgba(0, 0, 0, 0.555);
  margin-left: 20px !important;
}

/* *:not(path):not(g) {
	color:                    hsla(210, 100%, 100%, 0.9) !important;
	background:               hsla(210, 100%,  50%, 0.2) !important;
	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

	box-shadow: none !important;
} */
