<mat-accordion>
  <mat-expansion-panel *ngFor="let poke of pokeurl">
    <mat-expansion-panel-header>
      <mat-panel-title (click)="url.emit(poke.url)">
        <h2>{{poke.name}}</h2>
      </mat-panel-title>
      <mat-panel-description>
        <h3>Gotta Catch 'em All!</h3>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h1>{{pokeid.name}}</h1>
    <h3>Abilities:</h3>
    <p>{{pokeid.abilities[0].ability.name}}</p>
    <p>{{pokeid.abilities[1].ability.name}}</p>
    <h3>Height: </h3><p>{{pokeid.height}} m</p>
    <h3>Weight: </h3><p>{{pokeid.weight}} kg</p>
    <h3>Base exp: </h3><p>{{pokeid.base_experience}}</p>
  </mat-expansion-panel>
</mat-accordion>

<!-- <pre>{{pokeid | json}}</pre> -->
