<div class="wrapper">
  <div class="home-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Welcome</h1>
        </mat-card-title>
        <mat-card-subtitle>AirQ</mat-card-subtitle>
      </mat-card-header>
      <img src="https://picsum.photos/700/300/?random"/>
      <mat-card-content>
        <p>Breathe that thang!</p>
        <p class="mute">Click below...</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent"
        routerLink="/locations">Enjoy</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
