<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Edit</h2>
    </mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit()">
    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="Name" [(ngModel)]="selectedStarship.name" type="text" name="name">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Cost" [(ngModel)]="selectedStarship.cost_in_credits" type="text" name="cost">
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">Save</button>
      <button  mat-raised-button type="button" color="accent" (click)="cancelled.emit(selectedStarship)">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
