<div class="playlist-grid">
  <div class="playlist-list">
    <app-playlist-list [playlist]="playlist"
                       (selected)="selectVideo($event)"
                       (deleted)="removeVideo($event)"></app-playlist-list>
  </div>

  <div class="playlist-video">
    <app-playlist-video [playlist]="currentPlaylist"></app-playlist-video>
  </div>

  <!-- use this maybe later if you want to search and add a video -->
  <!-- <div class="playlist-detail">
    <app-playlist-detail [video]="currentPlaylist"
                         (saved)="saveVideo($event)"
                         (cancelled)="cancel($event)"></app-playlist-detail>
  </div> -->
</div>
