/* mat-card {
  width: 475px;
} */

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-input-container {
  width: 350px;
}

mat-card-content {
  margin: 20px 0 10px 0;
}

/* .smaller-card {
  width: fit-content;
} */

.playlist-list {
  grid-column: 3/7;
  grid-row: 1;
}

.playlist-details {
  grid-column: 2/3;
  grid-row: 1;
  margin-top: 10px;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 10px;
  justify-content: center;
}

.detail-grid {
  display: flex;
  justify-content: space-around;
}
