<div class="wrapper">
  <div class="home-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Welcome</h1>
        </mat-card-title>
        <mat-card-subtitle>YouTube API App</mat-card-subtitle>
      </mat-card-header>
      <img/>
      <mat-card-content>
        <p>Here is a quick app to display YouTube videos based on a Playlist</p>
        <p>Enjoy!</p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-raised-button>action 1</button>
        <button mat-raised-button>action 2</button>
      </mat-card-actions> -->
    </mat-card>
    </div>
</div>
