<div class="wrapper">
  <div class="card-center">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h1>Welcome</h1></mat-card-title>
        <mat-card-subtitle>StarWars API App</mat-card-subtitle>
      </mat-card-header>
      <img class="center" src="https://picsum.photos/500/300/?random"/>
      <mat-card-content>
        <h3>Here is a quick app to display all things StarWars</h3>
        <p class="text-muted">Click Below...</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
                color="accent"
                routerLink="/">
                Enjoy
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
