mat-card {
  padding: 0 0 35px 0;
}

mat-card-header {
  margin: auto;
  width: 80%;
}

mat-card-subtitle {
  margin-left: 15px;
}

a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 700px;
}

mat-card-content {
  width: 80%;
  margin: auto;
  padding: 15px 0;
}
