<div *ngIf="!embedded.resourceId?.videoId">
  <mat-card>
    <img src="../../../assets/YouTube_Logo_2017.svg"/>
  </mat-card>
</div>

<mat-card *ngIf="embedded.resourceId?.videoId">
  <mat-card-header>
    <mat-card-title>
      <h2>Play Video</h2>
    </mat-card-title>
    <mat-card-subtitle>YouTube Video</mat-card-subtitle>
  </mat-card-header>

  <div *ngIf="setEmbed()">
    <iframe [src]="setEmbed()" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <mat-card-content>
    <p matLine>{{embedded.description}}</p>
  </mat-card-content>
</mat-card>
