mat-card {
  padding-top: 0;
  padding-bottom: 35px;
}

mat-card-content {
  padding: 15px 0;
}

mat-card-content p {
  margin-left: 10px;
}

img {
  width: 100%;
}

.mute {
  color: rgba(0, 0, 0, 0.555);
  margin-left: 20px !important;
}
