mat-card {
  padding-top: 20px;
  padding-bottom: 35px;
  position: fixed;
  width: 30%;
}

mat-card-content {
  padding: 15px 0;
}

mat-card-content p {
  margin-left: 10px;
}

img {
  width: 100%;
}

iframe {
  width: 85%;
  height: 300px;
  margin-left: 8%;
}

.mute {
  color: rgba(0, 0, 0, 0.555);
  margin-left: 20px !important;
}
