<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Random Comic: <span>{{random.title}}</span></h2>
    </mat-card-title>
  </mat-card-header>
  <img [src]="random.img" [alt]="random.alt"/>
  <mat-card-content>
    <p>{{random.transcript}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="createId()">Random</button>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput type="input" placeholder="search by number..."
        (keydown)="searchNum.emit(form.get('numberSrch').value)"
        formControlName="numberSrch" maxlength="4" name="numberSrch">
      </mat-form-field>
    </form>
  </mat-card-actions>
</mat-card>

