@import url('https://fonts.googleapis.com/css?family=Poor+Story|Shadows+Into+Light');

mat-card {
  padding-top: 0;
}

mat-card-title span {
  font-family: 'Shadows Into Light';
  font-size: 30px;
  font-weight: 600;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-input-container {
  width: 90%;
  margin-left: 15px;
}

mat-card-content p {
  font-family: 'Poor Story';
  font-size: 24px;
  font-weight: 700;
}
