<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Title</h2></mat-card-title>
    <mat-card-subtitle>Added by: </mat-card-subtitle>
  </mat-card-header>

  <img/>

  <mat-card-content>
    <p>desciption</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">
      Select
      <mat-icon>touch_app</mat-icon>
    </button>
    <button mat-raised-button color="accent" class="right-button">
      Delete
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
