<div class="list-grid">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>List of Playlist Videos</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <h2 mat-subheader>My Playlist Videos</h2>
        <hr align="left">
        <mat-list-item *ngFor="let play of playlist"
                       (click)="selected.emit(play.snippet)"
                       class="mat-list-option">
          <img mat-list-icon [src]="play.snippet.thumbnails.high.url"/>
          <h2 mat-line>{{play.snippet.title}}</h2>
          <h3 mat-line>{{play.snippet.channelTitle}}</h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
