<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-raised-button color="accent">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a class="title-link" routerLink="/home">{{title}}</a></span>
    <h3><a class="ventur title-link" href="https://venturplex.com" target="_blank">LevelUp</a></h3>
  </mat-toolbar>

  <mat-sidenav-container>
      <mat-sidenav #sidenav mode="push">
        <nav>
          <a class="nav-link"
             color="accent"
             mat-button
             *ngFor="let link of links"
             [routerLink]="link.path"
             routerLinkActive="active">
             <mat-icon color="primary">{{link.icon}}</mat-icon>
             {{link.label}}
          </a>
        </nav>
      </mat-sidenav>

    <router-outlet></router-outlet>
  </mat-sidenav-container>
