:host >>> mat-card:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.705);
}

mat-card-header button {
  margin-left: auto;
}

mat-card-subtitle {
  margin-left: 15px;
}

mat-card img {
  object-fit: cover;
  margin-top: 5px;
  height: 70px;
  width: 70px;
}

button mat-icon {
  background-color: #ff408018;
  border-radius: 50%;
}

button mat-icon:hover {
  background-color: #ff408044;
  border-radius: 50%;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.side {
  width: 80%;
  margin-left: 25px;
}
