<div class="list-grid">
  <mat-card *ngFor="let post of posts"  (click)="selected.emit(post)">
    <mat-card-header>
      <img mat-card-avatar src="https://source.unsplash.com/700x300/?people,person"/>
      <mat-card-title><h2>Tweet that thang!</h2></mat-card-title>
      <mat-card-subtitle>User: {{post.username}}</mat-card-subtitle>
      <button mat-icon-button color="accent" (click)="deleted.emit(post)" *ngIf="!readonly">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <h3 class="content">{{post.content}}</h3>
      <div *ngIf="!readonly">
        <hr>
        <!-- <div class="side" *ngFor="let c of post.comments">
          <h4>{{c.responding_user}}: {{c.response}}</h4>
        </div> -->
        <!-- <app-post-comments *ngFor="let posts"></app-post-comments> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
